@import '../../style/common';
@import '../../style/variables';

.article {
  width: 80%;

  &__title {
    display: flex;
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin-right: 15px;
    margin-bottom: 6px;
    color: $color-title-articles;
  }

  .like__container {

    .like_count {
      display: inline-block;
      margin-left: 18px;
      font-size: 14px;
      color: $text-color;
      transform:  translateY(-2px);
    }
  }
    
  &__tag {
    line-height: 1;
    padding: 3px 5px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 2px;
    color: rgba(0, 0, 0, .5);

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__description {
    width: 80%;
  }
}

.author {
  display: flex;

  &__username {
    margin-right: 12px;
    font-size: 18px;
    color: rgba(0, 0, 0, .85);
    text-transform: capitalize;
    
    span {
      display: block;
      font-size: 12px;
      line-height: 1;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
}

.liked {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 17px;
  border-radius: 5px 5px 0 0;
  border: 1px solid $color-invalid;
  background-color: $color-invalid;
  transform: rotate(315deg);
  cursor: pointer;
  
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 15px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border: 1px solid $color-invalid;
    background-color: $color-invalid;
  }
}

.unliked {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 17px;
  border-radius: 5px 5px 0 0;
  border: 1px solid $text-color;
  background-color: $color-white;
  transform: rotate(315deg);
  cursor: pointer;      

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 9px;
    top: 4px;
    left: 0;
    background-color: $color-white;
    z-index: 2;
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 15px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border: 1px solid $text-color;
    background-color: $color-white;
  }
}