@import '../../style/common';
@import '../../style/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 80px;
  margin: auto;
  padding: 16px 22px 13px 22px;
  font-size: 18px;
  line-height: 1;
  background-color: $color-white;

  &__img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }

  a {
    padding: 10px 18px;
    &:first-child {
      margin-right: 19px;
    }

    &:last-child {
      color: #52C41A;
      border: 1px solid #52C41A;
      border-radius: 5px;
    }
  }

  div {
    &:last-child {
      display: flex;
      align-items: center;

      .link_create {
        font-size: 14px;
        line-height: 1;
        padding: 6px 15px;
        color: #52C41A;
        border: 1px solid #52C41A;
        border-radius: 5px;
        transition: color .2s ease, background-color .2s ease;

        &:hover {
          color: $color-white;
          background-color: #52C41A;
        }
      }

      .profile_user {
        display: flex;
        align-items: center;
        margin-right: 30px;

        span {
          margin-right: 15px;
          color: rgba(0, 0, 0, .85);
        }
      }

      .btn-logout {
        padding: 10px 20px;
        font-size: 18px;
        border: 1px solid $text-color;

        &:hover {
          color: $color-white;
          background-color: $text-color;
        }
      }
    }
  }
}